@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Enter an Event Center</h1>
    <a asp-controller="EventCenter" asp-action="Index">Event Center</a> 
</div>
